.knowledgeBase {
    p {
        margin: 0;
    }

    .knowledgeBase-box {
        min-height: 530px;
        padding: 40px 30px;
        background-color: #fff;
        margin: 0 !important;

        .search-input {
            width: 548px;
            display: block;
            margin: 0 auto;

            .ant-input {
                width: 480px;
            }
        }

        .text-box {
            padding: 40px 0px;

            .text-p {
                font-family: PingFangSC-Regular;
                font-size: 14px;
                color: rgba(0, 0, 0, 0.65);
                line-height: 18px;
            }
        }
        .ant-divider-horizontal {
            margin: 20px 0;
        }
    }
}
