.personManage {
  p {
      margin: 0;
  }

  .personManage-box {
    padding: 25px 35px;
    background-color: #fff;
    margin: 0 !important;
  
    label {
      text-align: left;
      display: inline-block;
    }

    .ant-input-search {
      width: 280px;
      margin-left: 10px;
    }

    .add-engineer {
      margin: 25px 0;
      width: 130px;
    }
  }

  
}

.add-engineer-modal {
  .ant-modal {
    width: 400px !important;
  }

  .ant-form-item-label {
    width: 90px;
  }

  .add-engineer-sure {
    margin-top: 25px;
    float: right;
    margin-left: 10px;
  }
}