.repairOrder {
    p {
        margin: 0;
    }

    .repairOrder-box {
        min-height: 33rem;
        padding: 25px 35px;
        background-color: #fff;
        margin: 0 !important;

        label {
            text-align: left;
            display: inline-block;
        }
        .ant-select {
            margin-right: 55px;
        }

        .add-repair {
            margin: 25px 0;
            width: 130px;
        }
        .list-left {
            display: inline-flex;
            .p-span {
                font-family: PingFangSC-Regular;
                font-size: 14px;
                color: rgba(0, 0, 0, 0.65);
                line-height: 22px;
                text-align: left;
                font-weight: 600;
                margin-right: 10px;
                width: 10rem;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                display: inline-block;
            }
        }
        .text-p {
            font-family: PingFangSC-Regular;
            font-size: 14px;
            color: rgba(0, 0, 0, 0.65);
            line-height: 20px;
            display: inline-flex;
            text-align: left;
            width: 30rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-left: 34px;
        }

        .ant-divider-horizontal {
            margin: 1rem 0;
        }

        .detail-btn {
            border-color: #1973ff;
            color: #1973ff;
            border-radius: 4px;
            float: right;
        }
    }
}

.add-repair-modal {
    .ant-modal {
        width: 600px !important;
    }

    .ant-form-item-label {
        width: 90px;
    }

    .ant-rate {
        vertical-align: super;
        line-height: 22px;
    }
}

.repair-detail-modal {
    .ant-modal {
        width: 600px !important;
    }

    .scroll {
        max-height: 300px;
        overflow-y: scroll;
    }

    .rd-box {
        .img-box {
            img {
                width: 100px;
                height: 100px;
                object-fit: contain;
                margin: 0 24px 0px 0;
            }
        }

        .history-btn {
            border-color: #1973ff;
            color: #1973ff;
            border-radius: 4px;
            font-size: 12px;
            padding: 0 5px;
            height: 20px;
            margin-left: 5px;
        }

        .ant-divider-horizontal {
            margin: 1.2rem 0;
        }
    }

    .ant-col {
        margin-bottom: 1rem;
        color: rgba(0, 0, 0, 0.85);
    }

    .ant-col-12 span:nth-of-type(1) {
        vertical-align: top;
    }

    .ant-col-12 span:nth-of-type(2) {
        width: 20rem;
        display: inline-block;
    }

    .ant-form-item {
        margin-bottom: 0;
    }

    .ant-form-item-label {
        width: 90px;
    }

    .ant-rate {
        vertical-align: super;
        line-height: 22px;
    }

    .ant-modal-footer {
        text-align: center;
    }

    .add-repair-sure {
        float: right;
    }

    .ant-upload-picture-card-wrapper {
        display: flex;
    }
}
