.solution {
  p {
      margin: 0;
  }

  .solution-box {
    padding: 25px 35px;
    background-color: #fff;
    margin: 0 !important;
  
    label {
      width: 50px;
      text-align: left;
      display: inline-block;
    }

    .ant-select {
      margin-right: 55px;
    }

    .add-useCases {
      margin: 0px 0 25px;
      width: 130px;
    }
  }

  .solve-way-text {
    width: 400px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  
}

.add-useCases-modal {
  .ant-modal {
    width: 550px !important;
  }

  .ant-form-item-label {
    width: 100px;
  }

  .ant-select {
    width: 100% !important;
  }

  .add-engineer-sure {
    margin-top: 25px;
    float: right;
    margin-left: 10px;
  }
}