.userManage {
  p {
      margin: 0;
  }

  .userManage-box {
    padding: 25px 35px;
    background-color: #fff;
    margin: 0 !important;
  
    label {
      text-align: left;
      display: inline-block;
    }

    .ant-input-search {
      width: 280px;
      margin-left: 10px;
    }

    .add-user {
      margin: 25px 0;
      width: 130px;
    }
  }

  
}

.add-user-modal {
  .ant-modal {
    width: 400px !important;
  }

  .ant-form-item-label {
    width: 90px;
  }

  .add-user-sure {
    margin-top: 25px;
    float: right;
    margin-left: 10px;
  }
}

.repair-history-modal {
  .ant-modal {
    width: 600px !important;
  }

  .rh-box {
    max-height: 497px;
    overflow-y: scroll;

    .img-box {
      
      img {
        width: 100px;
        height: 100px;
        object-fit: contain;
        margin: 0 24px 24px 0;
      }
    }
  }
}

.device-manage-modal {
  .ant-modal {
    width: 780px !important;
  }

  .ant-form-item-label {
    width: 66px;
  }

  .add-user-sure {
    margin-top: 25px;
    float: right;
    margin-left: 10px;
  }
}