.app {
    font-size: 1.6rem;
    @media screen and (max-width: 960px) {
        font-size: 1.4rem;
    }
    .aside {
        position: fixed;
        left: 0;
        height: 100vh;
        overflow-y: auto;
        background-image: linear-gradient(27deg, #0b74ff 5%, #3271ff 100%);
        // flex: 0 0 148px !important;
        // max-width: 148px !important;
        // min-width: 148px !important;
        // width: 148px !important;
        .logo {
            width: 148px;
            background: rgba(0, 0, 0, 0.3);
            height: 60px;
            line-height: 60px;
            box-sizing: border-box;
            text-align: center;
            color: #fff;
            font-size: 16px;
            img {
                height: 100%;
            }
            a {
                color: #fff;
            }
        }

        .ant-menu {
            .ant-menu-item {
                width: 100%;
                height: 50px;
                margin: 0;
                padding: 0 18px;

                > a {
                    font-size: 14px;
                    line-height: 50px;

                    .menu-icon {
                        width: 16px;
                        height: 16px;
                        margin-right: 22px;
                        vertical-align: -3px;
                    }
                }
            }
        }

        .ant-menu-dark {
            background-color: #2c71ff;

            .ant-menu-item-selected {
                background-color: #2a65e5 !important;
            }
        }
    }

    .header {
        background-color: #fff;
        padding: 0 1.5rem;
        display: flex;
        justify-content: space-between;
        .right {
            display: flex;
            align-items: center;

            .ant-badge {
                font-size: 16px;
                top: 2px;
            }

            .ant-avatar {
                width: 23px;
                height: 23px;
                line-height: 23px;
                background-color: #eef0f3;
            }
            .ant-avatar-icon {
                font-size: 18px;

                .anticon-user svg {
                    color: #000;
                }
            }

            .user-name {
                font-size: 14px;
                color: rgba(0, 0, 0, 0.65);
                text-align: right;
                margin-left: 10px;
            }
        }
    }

    .content {
        padding: 12px;
        width: auto !important;
    }

    .footer {
        text-align: center;
    }

    .data-show {
        p {
            margin: 0;
        }
        .index-header {
            color: #fff;
            margin: 0px !important;

            .ant-col-6 {
                padding: 0 !important;
            }

            .base-style {
                height: 7.8rem;
                box-shadow: none;
                border-radius: 2px;
                padding: 16px;
                position: relative;
                margin-bottom: 12px;

                p:nth-of-type(1) {
                    font-size: 12px;
                    color: rgba(0, 0, 0, 0.45);
                    text-align: center;
                    line-height: 18px;
                    margin-bottom: 6px;
                }
                p:nth-of-type(2) {
                    font-size: 22px;
                    color: #1973ff;
                    text-align: center;
                    line-height: 24px;
                    font-weight: 500;
                }
            }

            .line {
                width: 1px;
                height: 42px;
                background: #e8e8e8;
                position: absolute;
                right: 0;
                top: 22px;
            }

            .icon-style {
                color: #fbfbf4b3;
                font-size: 6rem;
                padding-right: 1rem;
            }
        }
    }
}

.change-password-modal {
    label {
        width: 100px;
        text-align: right;
        display: inline-block;
    }
    .ant-input {
        width: 240px;
    }
}
